.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #09d3ac;
}

.form-box {
    background-color: rgb(21, 168, 99);
    width: 400px;
    height: 400px;
}
input,
textarea {
    width: 200px;
    padding: 15px 22px;
    margin: 10px 5px;
    box-sizing: border-box;
    border: 1px solid #ff65a3;
    border-radius: 4px;
}
form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
button {
    /* background: #b205e7; */

    background-image: linear-gradient(-315deg, #ff7eb9 40%, #ff65a3 100%);
    border: 1px solid #ee0db6;
    border-radius: 4px;
    margin-top: 15px;
    padding: 10px 15px;
    font-size: 16px;
    color: white;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.12),
        0 2px 2px 1px rgba(0, 0, 0, 0.24);
    transition: all 0.2 ease-in;
}
